.card {
    width: 10rem;
    border: 75em;
    margin: .2em;
    background-image: linear-gradient(to right, rgb(109, 129, 247),whitesmoke);
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: rgb(240, 4, 4)
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 4em;
    color: red;
    background-color: rgb(218, 122, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    border-radius: 50%
}
.taskButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
    background-color: rgb(104, 67, 67)
}
.tasks {
    display: flex;
    justify-content: space-evenly;
}