.card {
    width: 10rem;
    border: 20em;
    margin: .2em;
    background-image: linear-gradient(to top, rgb(109, 129, 247),whitesmoke);
}

.card-title {
    justify-content: space-evenly;
    align-items: top;
    color: rgb(133, 4, 4);
    display: inline
}

/* .card-link {
    margin: 4px 0 0 0;
    font-size: 2em;
    color: red;
    background-color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    border-radius: 50%
} */
.eventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
    background-color: whitesmoke
}
.events {
    display: flex;
    justify-content: space-evenly;
}
.events_pic {
    display: inline;
}
.card-body {
    display: center;
    justify-content: center;
}
.nav-link:hover {
    color: greenyellow;
    motion-rotation: 360deg;
}
.nav-link-quit:hover {
    color: red;
    motion-rotation: 160deg;
    font-family: cursive;
}

