.card {
    width: 10rem;
    border: 100em;
    margin: .2em;
    background-image: linear-gradient(to right, rgb(109, 129, 247),whitesmoke);
}

.card-title {
    display: center;
    justify-content: space-around;
    align-items: center;
    color: rgb(240, 4, 4)
}

/* .card-link {
    margin: 4px 0 0 0;
    font-size: 2em;
    color: red;
    background-color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    border-radius: 50% */
/* } */
.eventButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
    background-color: whitesmoke
}
.events {
    display: flex;
    justify-content: space-evenly;
}
.events_pic {
    display: inline;
}
.card-body {
    display: center;
    justify-content: center;
}