.header {
    text-align: center;
}

.newsCard {
    width: auto;
    border: 100em;
    margin: .2em;
    background-image: linear-gradient(to right, rgb(109, 129, 247),whitesmoke);
}

.newsCard-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: red
}

.newsCard-link {
    margin: 12px 0 0 0;
    background-color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-self: center
}
.newsButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 100px 0;
    background-color: whitesmoke
}
.news {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardnav-link {
    color: white
}

.deleteButton {
    text-align: center
}